aiofiles
anyio
certifi
charset-normalizer
click
dnspython
gTTS
h11
httpcore
httpx
idna
langdetect
motor
pyaes
pymongo
pyrotgfork
PySocks
python-dotenv
requests
telegraph
TgCrypto
urllib3
yt-dlp

thefuzz==0.22.1
python-Levenshtein==0.25.1
