aiofiles
anyio
certifi
charset-normalizer
click
dnspython
gTTS
h11
httpcore
httpx
idna
langdetect
motor
pyaes
pymongo
pyrotgfork
PySocks
python-dotenv
requests
telegraph
TgCrypto
urllib3
yt-dlp

#server
aiohttp==3.11.11

